section#blog
    .container-fluid
        .row
            .col-xl-1
                #menu
                    img.navIcon(src="../../../static/img/ico/menu.svg" alt="menu")
                // nav / div? (záleží na tom jestli to bude onepage nebo clickpage
            .col-xl-5
                #postsList
                    .postPreview
                        h3 Workshop #2
                        h4 fotoreport / 11.09.2017
                    .postPreview
                        h3 Keramika k prodeji
                        h4 článek / 18.06.2017
                    .postPreview
                        h3 Workshop #1
                        h4 fotoreport / 24.04.2016
                    .postPreview
                        h3 Práce s hlínou
                        h4 blog / 11.12.2016
                    .postPreview
                        h3 Workshop #0
                        h4 fotoreport / 05.08.2016
                    .postPreview
                        h3 Otevíráme
                        h4 článek / 02.06.2016
                #postsNavigation
                        span &and;
                        span &or;
            .col-xl-6
                #postView