section#contact
    .container-fluid
        .row
            .col-xl-1
                #menu
                    img.navIcon(src="../../../static/img/ico/menu.svg" alt="menu")
                // nav / div? (záleží na tom jestli to bude onepage nebo clickpage
            .col-xl-5
                #contactInfo
                    .infoBlock
                        h3 Kontakt
                        address
                            table
                                tbody
                                    tr
                                        td Havlíčkova 146, 508 01 Hořice
                                    tr
                                        td horice@vaspsychiatr.cz
                                    tr
                                        td 493 522 029
                                    tr
                                        td 777 757 314
                        .infoBlock
                        h3 Kdy tvoříme
                        p Každé úterý od 16 do 19:30.
                        .infoBlock
                        h3 Jak se k nám dostanete
                        p Studio se nachází ve zvýšeném přízemí domu v Havlíčkově ulici, č.p. 146 v centru města. Dopravní dostupnost je výborná. Od autobusového nádraží 3 minuty chůze, automobil je možno bezplatně zaparkovat na náměstí.