section#gallery
    .container-full
        .row
            .col-xl-12
                #exposition
                    .expositionImage#image1
                    .expositionImage#image2
                    .expositionImage#image3
                    .expositionImage#image4
                    .expositionImage#image5
                    .expositionImage#image6
                    .expositionImage#image7
                    .expositionImage#image8